
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
}
/* =======SHARED STYLES====== */
.display-flex {
    display: flex;
    
}
/* =========dark 02========= */
.text-grey {
  color: #424242;
}
/* ==========dark 03========= */
.text-light-grey {
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* ==========HEADER STYLES============ */



/* ===========NAVBAR RELATED STYLES=========== */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-links  {
text-decoration: none;
   
}
.items {
    list-style: none;
    font-weight: 500;
    margin-right: 30px;
    
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0px auto;
}