
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
}
/* =======SHARED STYLES====== */
.display-flex {
    display: flex;
    
}
.text-primary {
    color: #ff900e;
}
/* =========dark 02========= */
.text-grey {
  color: #424242;
}
/* ==========dark 03========= */
.text-light-grey {
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}
.primary-btn {
    background-color: #ff900e;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
}
main {
    max-width:1440px;
    margin: 0 auto;
    width: 80vw;

  
}
main > section {
    margin-top: 130px;
}
/* ==========HEADER STYLES============ */



/* ===========NAVBAR RELATED STYLES=========== */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.brand {
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-links  {
text-decoration: none;
   
}
.items {
    list-style: none;
    font-weight: 500;
    margin-right: 30px;
    
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
    width: 80vw;
}
/* ==========BANNER RELATED STYLE====== */
.banner-content {
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}
/* =========teams and features related styles======= */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick {
    font-weight: 500;
}


/* ========responsive media query========== */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
.our-features {
    margin-left: 20px;
}
}
/* ====medium size devices======== */
@media screen  and (min-width:576) and (max-width:992){
    .teams{
    flex-direction: column;    
    }
    .our-features{
        margin: 50px autos;
    }
}
    
