
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
}
/* =======SHARED STYLES====== */
.display-flex {
    display: flex;
    
}
.text-primary {
    color: #ff900e;
}
/* =========dark 02========= */
.text-grey {
  color: #424242;
}
/* ==========dark 03========= */
.text-light-grey {
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
    
}
.primary-btn {
    background-color: #ff900e;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    color: #FFFFFF;
}
main {
    /* max-width:1440px; */
    margin: 0 auto;
    width: 80vw;

  
}
main > section {
    margin-top: 130px;
}
/* ==========HEADER STYLES============ */



/* ===========NAVBAR RELATED STYLES=========== */
.navbar {
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.brand {
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-links  {
text-decoration: none;
   
}
.items {
    list-style: none;
    font-weight: 500;
    margin-right: 30px;
    
}
.navbar, .banner {
    /* max-width: 1440px; */
    margin: 0 auto;
    width: 80vw;
}
/* ==========BANNER RELATED STYLE====== */
.banner-content {
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
}
.banner-image {
    width: 100%;
}
/* =========teams and features related styles======= */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features {
    margin-left: 130px;
    max-width: 530px;
}
.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick {
    font-weight: 500;
}

/* =========CARD RELATED DESIGN============= */


.card-section {
    justify-content: space-between;
    align-items: center;
    gap:90px;
    width: 80vw;
    position: relative;

}
.card-content {
    width: 50%;
    
}
.card-title {
  font-size:25px;
    font-weight: bold;
    color: #131313;
    border-left: 3px solid #ff900e;
    padding-left: 15px ;

}

.card-para {
    font-size: 14px ;
    color: #727272;

}
 .card {
    background-color: #FFFFFF;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 6px;
    box-shadow: 1px 4px 8px rgba(128, 128, 128, 0.922);
    

}
.card h3 {
    font-size:16px;
    font-weight: 600;
    margin-bottom: 0px;
    
}
.card p {
    font-size: 14px;
     color: #727272;
}
.card-img {

    position: absolute;
    top: 0;
    right: 0;
    background-image: url("./g3-architects-resources/images/architect.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 90%;
    
}

.img-content {
    background-color: #ff900e;
    border-radius: 6px;
    width:300px;
    position: absolute;
    bottom: -70px;
    left: -70px;
    
 

}
.img-content h1 {
    font-size: 45px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 0;
    padding: 15px 5px 0px 5px;
    
}
.img-content p{
font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 0;
 padding: 0px 5px 15px 5px;
    
    
}



/* ========responsive media query========== */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams {
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
.our-features {
    margin-left: 20px;
}
/* =========CARD RELATED RESPONSIVE========= */
.card-section {
        flex-direction: column;
        width: 80vw;
        gap: 40px;
        position: static;
    }

    .card-content {
        width: 100%;
    }

    .card-img {
        position: relative;   
        width: 100%;
        height: 500px;
        top: 0;
        right: 0;
    }

    .img-content {
        position: absolute;
        left: 70;
        bottom: 95;
        margin: 0 auto;
       
    }
}

/* ====medium size devices======== */
@media screen  and (min-width:576) and (max-width:992){
    .teams{
    flex-direction: column;    
    }
    .our-features{
        margin: 50px autos;
    }

}
    
